<h1>Listing all input</h1>
<%= link_to 'New Input', new_article_path %>
<table>
  <tr>
    <th>Input</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
	<% if article != nil %>
      <td><%= article.text %></td>
	  <td><%= link_to 'Show', :action => "show", :id => article.id %></td>
	  <td><%= link_to 'Run', :action => "run", :id => article.id %>
	  <td><%= link_to 'Destroy', article_path(article),
	               method: :delete,
				   data: { confirm: 'Are you sure?' } 
	       %>
	  </td>
	<% end -%>
    </tr>
  <% end -%>
</table>
